/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
svg {
    vertical-align: middle;
}

/* end reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    /* background-image: url(img/cbi.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: #98b0fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.wrapper .top {
    padding: 40px;
    text-align: center;
    position: relative;
}

.wrapper .top h1 {
    margin-bottom: 10px;
    color: #fcfcfc;
}

.wrapper .top h2 {
    margin-bottom: 10px;
}

.wrapper .top .input_field {
    margin-bottom: 12px;
}

.wrapper .top .input_field input[type="text"] {
    width: 100%;
    background: #f3f9ff;
    border: 0;
    padding: 12px;
    padding-left: 20px;
    border-radius: 25px;
}

.wrapper .top .input_field input[type="password"] {
    width: 100%;
    background: #f6faff;
    border: 0;
    padding: 12px;
    padding-left: 20px;
    border-radius: 25px;
}

.wrapper .top input.btn {
    background: #5e6b96;
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    align: center;
    border-radius: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    font-weight: bold;
}

.jam {
    overflow: hidden;
    width: 105px;
    margin: 0px auto;
    border-bottom: 3px solid #41a7f2;
}

.kotak {
    float: left;
    width: 35px;
    margin-top: 0;
    height: 20px;
    background-color: #fff;
}

.wrapper .top div.btn {
    background: #f3f3f3;
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    height: 70px;
    padding: 12px;
    align-content: center;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* header */

header {
    height: 175px;
    background-color: rgb(252, 252, 252);
    color: #fff;
    display: block;
}

.container {
    padding: 0px 4%;
}

.branding {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.branding .smk {
    color: black;
}

/******************************************************/
/******************** Desain Menu *********************/
/******************************************************/
body {
    background-color: #ece8e5;
}

nav {
    height: 45px;
    width: 100%;
    background: #3498db;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    top: 0;
    position: sticky;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 92%;
    height: 45px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #ffffff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
}

nav a:hover,
nav a:active {
    background-color: #ecf0f1;
    color: #333;
}

.active {
    background-color: #cecece;
    color: #333;
}

nav a#pull {
    display: none;
}

.right {
    float: right;
}

/******************************************************/
/*************** Desain Menu Responsive ***************/
/******************************************************/

/* Desain untuk perangkat dengan layar 600px kebawah*/
@media screen and (max-width: 600px) {
    nav {
        height: auto;
        border-bottom: 0;
        background: #3498db;
    }

    nav ul {
        width: 100%;
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: none;
        display: block;
        background: #ffffff;
    }

    nav li a {
        border-bottom: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        color: #333333;
    }

    nav a#pull {
        display: block;
        background-color: #3498db;
        width: 100%;
        position: relative;
        color: #ffffff;
    }

    nav a#pull:after {
        content: "";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .branding img:first {
        display: none;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.red {
    height: 1000px;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

/* end header */

/* card */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1rem
        /* rtl:ignore */
    ;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group>.card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
        border-top-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0;
    }
}